In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pyreadstat

# Data exploration

In [60]:
data, meta = pyreadstat.read_sas7bdat('a2z_insurance.sas7bdat')

In [61]:
data

,CustID,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
0,1.0,1985.0,1982.0,2 - High School,2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89
1,2.0,1981.0,1995.0,2 - High School,677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13
2,3.0,1991.0,1970.0,1 - Basic,2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02
3,4.0,1990.0,1981.0,3 - BSc/MSc,1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34
4,5.0,1986.0,1973.0,3 - BSc/MSc,1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10291,10292.0,1984.0,1949.0,4 - PhD,3188.0,2.0,0.0,-0.11,0.96,393.74,49.45,173.81,9.78,14.78
10292,10293.0,1977.0,1952.0,1 - Basic,2431.0,3.0,0.0,1405.60,0.00,133.58,1035.75,143.25,12.89,105.13
10293,10294.0,1994.0,1976.0,3 - BSc/MSc,2918.0,1.0,1.0,524.10,0.21,403.63,132.80,142.25,12.67,4.89
10294,10295.0,1981.0,1977.0,1 - Basic,1971.0,2.0,1.0,250.05,0.65,188.59,211.15,198.37,63.90,112.91
10295,10296.0,1990.0,1981.0,4 - PhD,2815.0,1.0,1.0,463.75,0.27,414.08,94.45,141.25,6.89,12.89

In [62]:
data[data['EducDeg']=='']

,CustID,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
896,897.0,NaN,1960.0,,2643.0,1.0,1.0,-25.00,1.00,515.54,33.90,47.01,12.89,3.78
1707,1708.0,1992.0,1946.0,,3827.0,4.0,0.0,355.52,0.33,222.71,146.70,NaN,94.13,105.24
2449,2450.0,NaN,1939.0,,4465.0,4.0,0.0,457.75,0.36,338.73,187.25,175.81,43.23,4.78
2728,2729.0,NaN,1954.0,,3200.0,2.0,0.0,109.25,0.77,211.93,14.45,275.72,77.68,11.67
2770,2771.0,NaN,1984.0,,1473.0,4.0,1.0,443.74,0.31,386.74,104.45,156.92,5.00,27.45
3056,3057.0,NaN,1977.0,,2221.0,1.0,1.0,-9.22,0.97,475.09,15.00,93.35,15.78,2.78
4423,4424.0,NaN,1962.0,,2688.0,1.0,1.0,481.99,0.09,533.99,-30.00,52.01,3.00,NaN
6535,6536.0,NaN,1968.0,,2413.0,3.0,1.0,420.86,0.28,472.31,48.35,56.90,26.45,16.67
6560,6561.0,1976.0,1992.0,,NaN,4.0,1.0,85.91,0.77,91.24,0.00,227.60,60.01,110.91
7321,7322.0,NaN,1942.0,,3346.0,4.0,0.0,173.47,0.73,139.47,177.80,281.61,120.80,20.67
7470,7471.0,NaN,1949.0,,3211.0,4.0,0.0,261.50,0.66,213.82,323.95,197.26,37.34,74.79
8081,8082.0,NaN,1940.0,,4216.0,4.0,1.0,320.40,0.56,376.96,212.25,158.14,11.78,31.56
8173,8174.0,NaN,1951.0,,4183.0,1.0,0.0,173.04,0.75,178.59,246.70,251.38,50.12,69.57
8303,8304.0,NaN,1938.0,,3729.0,3.0,0.0,17.45,0.93,254.38,63.90,290.61,11.67,21.45
9136,9137.0,NaN,1993.0,,1753.0,1.0,1.0,464.86,0.41,49.23,280.60,172.70,163.92,160.03
9312,9313.0,NaN,1974.0,,2552.0,1.0,1.0,458.20,0.28,468.31,102.25,79.46,6.78,14.89
9610,9611.0,NaN,1964.0,,2905.0,1.0,1.0,-70.34,1.06,273.72,211.70,229.60,9.89,45.34

In [63]:
data.dtypes

CustID           float64
FirstPolYear     float64
BirthYear        float64
EducDeg           object
MonthSal         float64
GeoLivArea       float64
Children         float64
CustMonVal       float64
ClaimsRate       float64
PremMotor        float64
PremHousehold    float64
PremHealth       float64
PremLife         float64
PremWork         float64
dtype: object

In [64]:
data.isna().sum()

CustID             0
FirstPolYear      30
BirthYear         17
EducDeg            0
MonthSal          36
GeoLivArea         1
Children          21
CustMonVal         0
ClaimsRate         0
PremMotor         34
PremHousehold      0
PremHealth        43
PremLife         104
PremWork          86
dtype: int64

In [65]:
# replace "" by nans
data.replace("", np.nan, inplace=True)

# count of missing values
data.isna().sum()

CustID             0
FirstPolYear      30
BirthYear         17
EducDeg           17
MonthSal          36
GeoLivArea         1
Children          21
CustMonVal         0
ClaimsRate         0
PremMotor         34
PremHousehold      0
PremHealth        43
PremLife         104
PremWork          86
dtype: int64

In [66]:
# 'EducDeg' is still an object but it will be treated further
data.dtypes

CustID           float64
FirstPolYear     float64
BirthYear        float64
EducDeg           object
MonthSal         float64
GeoLivArea       float64
Children         float64
CustMonVal       float64
ClaimsRate       float64
PremMotor        float64
PremHousehold    float64
PremHealth       float64
PremLife         float64
PremWork         float64
dtype: object

In [67]:
# pd.Int32Dtype() due to nan values
data['CustID']=data['CustID'].astype(pd.Int32Dtype())
data['FirstPolYear']=data['FirstPolYear'].astype(pd.Int32Dtype())
data['BirthYear']=data['BirthYear'].astype(pd.Int32Dtype())
data['Children']=data['Children'].astype(bytes)

In [68]:
data.dtypes

CustID             int32
FirstPolYear       Int32
BirthYear          Int32
EducDeg           object
MonthSal         float64
GeoLivArea       float64
Children            |S32
CustMonVal       float64
ClaimsRate       float64
PremMotor        float64
PremHousehold    float64
PremHealth       float64
PremLife         float64
PremWork         float64
dtype: object

In [25]:

data.insert(4,'EducDeg_cat',data['EducDeg'].str[4:])

In [26]:

data.insert(5,'EducDeg_ord',data['EducDeg'].str[0])

In [27]:
data

,CustID,FirstPolYear,BirthYear,EducDeg,EducDeg_cat,EducDeg_ord,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
0,1.0,1985.0,1982.0,2 - High School,High School,2,2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89
1,2.0,1981.0,1995.0,2 - High School,High School,2,677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13
2,3.0,1991.0,1970.0,1 - Basic,Basic,1,2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02
3,4.0,1990.0,1981.0,3 - BSc/MSc,BSc/MSc,3,1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34
4,5.0,1986.0,1973.0,3 - BSc/MSc,BSc/MSc,3,1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10291,10292.0,1984.0,1949.0,4 - PhD,PhD,4,3188.0,2.0,0.0,-0.11,0.96,393.74,49.45,173.81,9.78,14.78
10292,10293.0,1977.0,1952.0,1 - Basic,Basic,1,2431.0,3.0,0.0,1405.60,0.00,133.58,1035.75,143.25,12.89,105.13
10293,10294.0,1994.0,1976.0,3 - BSc/MSc,BSc/MSc,3,2918.0,1.0,1.0,524.10,0.21,403.63,132.80,142.25,12.67,4.89
10294,10295.0,1981.0,1977.0,1 - Basic,Basic,1,1971.0,2.0,1.0,250.05,0.65,188.59,211.15,198.37,63.90,112.91
10295,10296.0,1990.0,1981.0,4 - PhD,PhD,4,2815.0,1.0,1.0,463.75,0.27,414.08,94.45,141.25,6.89,12.89